{%extends "layout.html"%}

{%block title%}
Register
{%endblock%}
{%block main%}
<form action="/register" method="post">
    <div class="mb-3"><input class="form-control mx-auto w-auto" type="text" autofocus placeholder="username"
            name="username"></div>
    <div class="mb-3">
        <input class="form-control mx-auto w-auto" type="password" placeholder="password" name="password">
    </div>
    <div class="mb-3">
        <input class="form-control mx-auto w-auto" type="password" placeholder="confirmation" name="confirmation">
    </div>


    <button type="submit" class="btn btn-primary">register</button>
</form>
{%endblock%}